<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:\foodics\Apiscope\src\test\java\api">
        <classes>
            <class name="api.Loginapi">
                <methods>
                    <include name="login"/>
                    <include name="Whoiam"/>
                </methods>
                </class>
        </classes>
    </test>
</suite>